.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.update{
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

#refreshButton{
  font-family: 'Indie Flower', cursive;
  width: 230px;
  height: 40px;
  background-color: #696969;
  color: #4ECCA3;
  text-align: center;
  font-size: 23px;
  border-radius: 10px;
  cursor: pointer;
}